@import url('https://fonts.googleapis.com/css?family=Arvo');

* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

html, body .full-height{
	background-color: #e9ea91;
	height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.centrer{
	text-align: center;
}
.textzone{
	position: absolute;
	font-family: 'Arvo', serif;
	text-align: justify;
    text-justify: inter-word;
    margin-left: 50%;
    margin-top:50px;
}

#corps{
	position: absolute;
}

.imagecic {
	position: absolute;
	margin-top: 50px;
	margin-left: 25%;
}

.circle {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: rgb(70,70,70);
	border-radius: 50px; 
	opacity: 0.7;
}

#circle1 {
	margin-left: 5px;
	margin-top: 80px;
}

#circle2 {
	
	margin-left: 105px;
	margin-top: 185px;
}

#circle3 {
	margin-top: 220px;
}

#circle4 {
	margin-left: 90px;
	margin-top: 240px;
}

#circle5 {
	margin-left: 25px;
	margin-top: 340px;
}

#circle6 {
	margin-left: 70px;
	margin-top: 430px;
}

.circle:hover{
	background-color: red;
	opacity: 0.7;
}

@media screen AND (max-width: 992px) {
	
	.imagecic {
	margin-top: 25px;
	margin-left: 15%;
	}

	.textzone{
    margin-top: 25px;
	margin-left: 60%;
	}

}

@media screen AND (max-width: 556px) {


	.imagecic {
	margin-top: 15px;
	margin-left: -5%;
	}

	.textzone{
	right: 0;
	font-size: 10px;	}

}

